body {
  background-color: green;
}

#fp-nav {
  margin: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  width: 40px;
  left: 40px;
  overflow: hidden;
}
@media screen and (max-width: 1250px) {
  #fp-nav {
    width: auto;
    top: auto;
    left: 50%;
    bottom: 32px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media screen and (max-width: 420px) {
  #fp-nav {
    bottom: 20px;
  }
}
@media screen and (max-width: 1250px) {
  #fp-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
#fp-nav ul li {
  height: 3px;
  margin: 0 0 40px;
}
@media screen and (max-width: 1250px) {
  #fp-nav ul li {
    height: auto;
    margin: 0 28px;
  }
}
@media screen and (max-width: 420px) {
  #fp-nav ul li {
    margin: 0 12px;
  }
}
#fp-nav ul li a {
  width: 24px;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fp-nav ul li a span {
  display: none;
}
@media screen and (max-width: 1250px) {
  #fp-nav ul li a {
    width: 3px;
    height: 24px;
  }
}
@media screen and (max-width: 420px) {
  #fp-nav ul li a {
    width: 2px;
    height: 16px;
  }
}
#fp-nav ul li:last-child {
  margin-bottom: 0;
}
#fp-nav ul li .active {
  width: 40px;
}
@media screen and (max-width: 1250px) {
  #fp-nav ul li .active {
    width: 3px;
    height: 80px;
  }
}
@media screen and (max-width: 420px) {
  #fp-nav ul li .active {
    width: 2px;
    height: 32px;
  }
}
