* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  min-height: 8vh;
  top: 20%;
  left: 90%;
}
.logo {
  font-size: 20px;
  color: black;
  letter-spacing: 0.1em;
  position: fixed;
}
.navbar {
  list-style: none;
}

.navbar a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
}

.menu .active {
  color: red;
  text-decoration: none;
}
.profile {
  display: block;
  align-items: center;
  background-color: yellow;
  height: 100vh;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

article {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: center;
}

.one {
  background-color: rgb(206, 130, 44);
  display: grid;
  grid-template-columns: 50% auto;
}
.two {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 50% auto;
  place-items: center;
}

.three {
  background-color: rgb(151, 73, 151);
}
.four {
}

.left {
  position: relative;
  display: grid;
  place-items: center;
}

.left p {
  position: relative;
}
.yellow {
  width: 50%;
}

.right {
  display: grid;
  place-items: center;
  margin: 5%;
}
.right p {
  width: 70%;
}

@keyframes anim1 {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
