* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 3% 3% 0;
  min-height: 8vh;
}
.logo {
  font-size: 20px;
  color: white;
  letter-spacing: 0.1em;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

article {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
}

.one {
  background-color: rgb(206, 130, 44);
  display: grid;
  grid-template-columns: 50% auto;
}
.two {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 50% auto;
  place-items: center;
}

.three {
  background-color: rgb(151, 73, 151);
}
.four {
}

.left {
  position: relative;
  display: grid;
  place-items: center;
}

.left p {
  position: relative;
}
.yellow {
  width: 50%;
}

.right {
  display: grid;
  place-items: center;
  margin: 5%;
}
.right p {
  width: 70%;
}

@keyframes anim1 {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
